%p#notice= notice

%p
  %b Picture:
  = @story.picture
%p
  %b Header:
  = @story.header
%p
  %b Text:
  = @story.text
%p
  %b Happened:
  = @story.happened

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
