!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hubfeenix Volunteers
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind"
    = stylesheet_link_tag "application"

    = javascript_importmap_tags
    - if false
      %script{:src => "https://cdn.tailwindcss.com"}

  %body
    = render "layouts/header"
    = render "layouts/messages"
    = yield
    = render "layouts/footer"
